In [2]:
import pandas as pd

df = pd.read_csv('./data/dataset.csv')
df.head()

,Unnamed: 0,home_last_3_OppP,home_last_3_FG,home_last_3_FGA,home_last_3_FG%,home_last_3_3P,home_last_3_3PA,home_last_3_3P%,home_last_3_FT,home_last_3_FTA,...,away_last_50_DeFG%,away_last_50_DTOV%,away_last_50_DDRB%,away_last_50_DFT/FGA,away_last_50_W,away_last_50_H,Date,Home_Team,Away_Team,Home_Team_Won
0,0,106.33,42.33,84.67,0.50,11.33,31.33,0.36,16.33,22.67,...,0.51,12.67,76.90,0.18,41.0,27.0,2022-02-03,ATL,PHO,True
1,0,104.33,44.00,94.67,0.47,8.67,29.67,0.29,15.33,19.00,...,0.52,11.68,77.64,0.17,32.0,25.0,2022-02-10,ATL,MIL,True
2,0,120.00,46.67,90.67,0.51,14.67,37.33,0.39,17.00,24.00,...,0.56,12.00,78.43,0.20,20.0,28.0,2022-02-14,ATL,POR,False
3,0,109.67,42.67,89.33,0.48,15.33,38.33,0.40,18.33,23.67,...,0.51,12.66,78.26,0.20,34.0,26.0,2022-02-24,ATL,GSW,False
4,0,110.33,43.00,87.00,0.49,13.67,38.67,0.35,17.67,23.00,...,0.52,12.32,78.22,0.19,28.0,25.0,2022-02-27,ATL,DAL,False

In [1]:
print("Varun")

Varun